.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "surveillance surveillance surveillance surveillance devices devices devices devices rooms rooms";
    gap: 1rem;
    height: 100dvh;
    padding: 1rem;

    > div {
        border-radius: 2rem;
        overflow: hidden;
    }

    .surveillance {
        grid-area: surveillance;
    }

    .rooms {
        grid-area: rooms;
    }

    .devices {
        grid-area: devices;
    }
}
