$primary100: hsl(222, 55%, 10%);
$primary400: hsl(224, 9%, 69%);
$primary500: hsl(228, 6%, 83%);
$primary600: hsl(220, 6%, 91%);
$primary700: hsl(252, 20%, 95%);

$secondary600: hsl(43, 61%, 89%);
$red: hsl(0, 79%, 55%);

$neutral: hsl(0, 0, 100%);

$navBarWidth: 7rem;

$smoothTransition: all 0.2s ease-in-out;
