$primaryHue: 222;
$secondaryHue: 43;

$primary100: hsl($primaryHue, 55%, 10%);
$primary300: hsl($primaryHue, 13%, 51%);
$primary400: hsl($primaryHue, 9%, 69%);
$primary500: hsl($primaryHue, 6%, 83%);
$primary600: hsl($primaryHue, 6%, 91%);
$primary700: hsl($primaryHue, 20%, 95%);

$secondary600: hsl($secondaryHue, 61%, 89%);
$red: hsl(0, 79%, 55%);

$neutral: hsl(0, 0%, 100%);

$navBarWidth: 7rem;

$smoothTransition: all 0.2s ease-in-out;

%button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: $primary100;
    border-radius: 100vmax;
    padding: 1rem 2rem;
    width: 100%;
    color: $neutral;
    transition: $smoothTransition;

    &:hover {
        background-color: white;
        color: $primary100;
    }
}
