@import "../../styles/theme";

%statusPill {
    padding: 0.5rem 1.5rem;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: hsla(43, 61%, 89%, 0.5);
    backdrop-filter: blur(10px);
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .stats {
        position: absolute;
        inset: 2rem;
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        flex-wrap: wrap;

        .live {
            @extend %statusPill;
            background-color: $neutral;
            margin-right: auto;

            .indicator {
                height: 0.65em;
                aspect-ratio: 1;
                background-color: $red;
                border-radius: 50%;
                left: 1rem;
                animation: blink 1.5s ease-in-out infinite;
            }
        }

        .statusPill {
            @extend %statusPill;
        }
    }

    .video {
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        iframe {
            width: 100%;
            aspect-ratio: 16/9;
            display: block;
            border: none;
            object-fit: cover;
        }
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
