@import "../../styles/typography";
@import "../../styles/theme";
@import "../../styles/responsive";

%navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    height: 3.5rem;
    aspect-ratio: 1;
    transition: $smoothTransition;
    position: relative;

    &:hover {
        @extend %activeNavLink;
    }
}

%activeNavLink {
    background-color: $primary600;
}

.navLayout {
    display: flex;
    height: 100dvh;

    nav {
        position: fixed;
        inset: auto 0 0 0;
        z-index: 999;
        background-color: $neutral;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        overflow: auto;

        @include responsive(md) {
            position: initial;
            flex-direction: column;
            align-items: center;
        }

        header img {
            display: none;
            @include responsive(md) {
                display: block;
                width: 3rem;
            }
        }

        .navLinks {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-block: auto;

            @include responsive(md) {
                flex-direction: column;
            }

            a {
                color: inherit;

                div {
                    @extend %navLink;
                }

                &.active div {
                    @extend %activeNavLink;
                }
            }
        }

        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            flex: 1;

            @include responsive(md) {
                flex-direction: column;
                flex: 0;
            }

            div {
                @extend %navLink;
            }
            img {
                height: 2.5rem;
                display: block;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 100vmax;
                margin-left: auto;

                @include responsive(md) {
                    margin-left: 0;
                }
            }
        }
    }

    main {
        flex: 1;
        overflow: auto;
        padding-bottom: 5rem;

        @include responsive(md) {
            padding-bottom: 0;
        }
    }
}
