@import "../../styles/typography";
@import "../../styles/theme";

%navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.5rem;
    height: 3.5rem;
    aspect-ratio: 1;
    transition: $smoothTransition;
    position: relative;

    // &:not(:first-of-type)::after {
    //     position: absolute;
    //     content: "";
    //     inset: 0;
    //     background-color: red;
    // }

    &:hover {
        background-color: $primary600;
    }
}

.navLayout {
    display: flex;
    height: 100dvh;

    nav {
        // width: $navBarWidth;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        header img {
            width: 3rem;
        }

        .navLinks {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-block: auto;

            div {
                @extend %navLink;
            }
        }

        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            div {
                @extend %navLink;
            }
            img {
                height: 3rem;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 100vmax;
            }
        }
    }

    .content {
        background: rgb(248, 180, 180);
        flex: 1;
        overflow: auto;
        padding: 1rem;
    }
}
