@import "../../styles/theme";
@import "../../styles/responsive";

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    color: $primary300;
    position: relative;
    background: $neutral
        url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F010%2F177%2F036%2Foriginal%2F3d-abstract-art-free-png.png&f=1&nofb=1&ipt=07c9e412cb576d490008d6be0cb2b737448a9935adc44e447d731ab6a5b15fb3&ipo=images)
        no-repeat;
    background-position: center;
    backdrop-filter: blur(50px);

    @include responsive(md) {
        background-position: right bottom;
        background-size: 65vw;
    }

    .title {
        font-size: 6rem;
        color: $primary100;
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: 600;
        color: $primary100;
    }

    button {
        @extend %button;
        max-width: max-content;
        margin-top: 1rem;
    }
}
